* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.875);
  color: white;
  font-family: Inter;
}

.header {
  background-color: black;
  padding: 20px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-header {
  color: aqua;
  font-size: 30px;
}

.nav-img {
  width: 55px;
  margin-right: 10px;
}

.main {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6B3raHIY3u5GW3vj2rzxAbb8ewbMXQiJZVzSNvP6MMVf0K9JSsGKV02W-1lk-x_S-rBU&usqp=CAU');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.main-header {
  padding-top: 70px;
  padding-left: 22px;
  font-size: 50px;
  margin-bottom: 40px;
}

.main-list {
  margin-left: 60px;
}

.main-list-item {
  margin-block: 10px;
  font-size: 22px;
}

.main-list-item::marker {
  color: #61DAFB;
  font-size: 1.7rem;
}