body {
    margin: 0;
}

.contact-card {
    padding: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 10px;
    width: 190px;
    height: 305px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-group > img {
    height: 30px;
    width: 30px;
}

p {
    line-height: 0px;
}

.contacts {
    display: flex;
    flex-flow: row wrap;
}