body {
    background-color: black;
    color: aliceblue;
}

.img {
    width: 100%;
}

.about {
    text-align: center;
}

.cricketer {
    color: chocolate;
}

.email-linkedin {
    display: flex;
    justify-content: space-evenly;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.icon-button i {
    font-size: 20px;
}

.icon-button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

.email-button {
    color: black;
    background-color: whitesmoke;
}